.container-service{
    max-width: 450px;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-service img{
    max-width: 350px;
}

.container-service p{
    margin: 20px 0;
}

