.container-home{
    height: calc(100vh - 130px); /*130px do header - o container sempre ficará abaixo do header*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-home img{
    width: 60%;
}

.container-home div{
    max-width: 500px;
}

.container-home div h1{
    margin: 20px 0;
}

.container-home div p{
    margin: 20px 0;
    max-width: 80%;
    line-height: 1.5;
}

.container-home div button{
    background-color: #6ab04c;
    border: none;
    color: #fff;
    width: 150px;
    border-radius: 25px;
    height: 35px;
}



