.container-contato{
    height: calc(100vh - 130px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-contato form{
    display: flex;
    flex-direction: column;
}

.container-contato form input{
    padding: 15px;
    margin: 3px;
    border: 1px solid #6ab04c;
}




