.container-main{
    background-color: #6ab04c;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}

.container-main ul{
    list-style: none;
    display: flex;
}

.container-main ul li{
    padding: 0 20px;
}

a{
    text-decoration: none;
    color: #fff;
}