/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@100;300;500&display=swap');

.container{
    display: flex;
    flex-direction: center;
    align-items: center;
    height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.container img{
    margin: 0 5%;
}

.container div{
    margin: 0 5%;
}

body{
    background-color: black;
}

h1, h2, h3{
    color: white;
}

